@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  padding-top: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wordsBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  background-color: #cccccc;
  gap: 20px;
}
.words {
  padding: 10px 20px;
  background-color: #d9fe94;
  border-radius: 10px;
}
.dropBox {
  display: flex;

  justify-content: center;
  align-items: stretch;
  padding: 30px;
  background-color: tomato;
  min-height: 200px;
}
.replacedWordsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap: 20px;
}

.replacedWordsBoxSpan {
  flex-grow: 1;
  text-align: center;
  padding-top: 5%;
  font-size: 20px;
}
