@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  padding-top: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.field {
  width: 800px;
  height: 100px;
  /* border: 2px solid black; */
  border-radius: 10px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: space-between;
}

.part {
  flex-basis: 25%;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 25px;
  text-align: center;
}

.container {
  width: 800px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.word {
  font-size: 25px;
  cursor: grab;
}
